:root {
  --primary-color: #72877d;
  --main-font: "MuseoModerno", cursive;
}

body {
  font-family: var(--main-font);
  margin: 0;
  background-color: var(--primary-color);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("hero-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 235px 0;
  text-align: center;
  color: white;
}

header .arrow-button {
  margin-top: 40px;
}

.arrow {
  background-color: white;
  color: var(--primary-color);
  padding: 18px;
  border-radius: 60px;
  font-size: 20px;
  transition: all 150ms ease-in;
}

.arrow:hover {
  background-color: var(--primary-color);
  color: white;
}

h1 {
  font-size: 100px;
  line-height: 1.5;
  text-align: center;
}

h3 {
  margin: 0 auto;
}

a:hover {
  cursor: pointer;
}

footer {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 8px;
  line-height: 0.5;
}

li {
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: 900;
  font-family: "Quicksand", sans-serif;
}

img {
  border-radius: 18px;
}

section h1 {
  font-family: "Bodoni Moda", serif;
  margin: 0;
  text-align: center;
}

section h3 {
  font-size: 30px;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 50px 100px;
  background-color: white;
}

.section-1 p {
  font-size: 22px;
  margin: 0;
  font-family: "Zen Maru Gothic", sans-serif;
  color: var(--primary-color);
}

.section-1 h1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("Following the Moon.jpeg");
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 71.5px;
  border-radius: 18px;
  height: 410px;
  background-position: center;
  color: white;
}

.section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 40px 40px;
  color: var(--primary-color);
  background-color: white;
}

.card-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2px;
  margin-top: 5px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  padding: 20px 20px;
}

.ft-head {
  padding-left: 8px;
  margin-bottom: 5px;
  font-size: 35px;
}

footer h2 {
  font-size: 80px;
  text-align: center;
}

@media (max-width: 800px) {
  header {
    padding: 150px 0;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 20px;
  }
  .section-1 {
    grid-template-columns: 1fr;
    padding: 70px 10px;
  }
  .section-1 h1 {
    font-size: 65px;
  }
  .section-2 {
    grid-template-columns: 1fr;
    padding: 50px 10px;
  }
  .section-2 img {
    height: 550px;
    width: 100%;
  }
  footer {
    padding: 50px 20px;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
  .footer .ft-head {
    font-size: 23px;
  }
  .footer li {
    font-size: 15px;
  }
  .footer h2 {
    font-size: 30px;
  }
}
